<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>
<body>
    {{>header}}
    <img src="./image/marguerite-gc3ed6a6fe_640.jpg">
    <p> created by {{name}}</p>
    {{>footer}}
</body>
</html>